.bg-footer {
    background-color: $colorUno;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $fontPrincipal;
    font-weight: 200;
    margin-top: auto;
    flex-shrink: 0;

    & .typep {
        color: $colorFootertyped;
        margin: 10px 10px 10px 40px;
    }

    & .redes {
        a {
            i {
                font-size: 24px;
                text-align: center;
                padding: 5px 10px;

                &:hover {
                    transform: scale(1.5);
                    transition: all 1s ease;
                    color: deeppink;
                }
            }
        }
    }


}