* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: #eedcd5;
    
}

a,
a:active {
    text-decoration: none;
    color: azure
}