//variables

$colorUno: #ffb9b9;
$colorDos: #f574cd;
$colorTres: #ffddd2;
$colorSombra: rgb(0, 0, 0.35);
$colorFootertyped: rgb(240, 255, 255);
$fontPrincipal: 'Josefin Sans', sans-serif;
$colorContacto: rgb(255, 172, 199);

